<% if logged_in? %>
  <script id="bootstrap-current-user" type="text/javascript">
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  </script>
<% end %>

<script type="text/javascript">

window.images = {
  evernoteLogo: "<%= asset_path('evernote-logo.png') %>",
  homepageHero: "<%= asset_path('homepage-hero-desktop.png') %>", 
}
</script>

<main id="root"></main>