body {

  font-family: "Soleil_Bold",
    Helvetica,
    Arial,
    sans-serif color
}

p,
ul,
ol,
table {
  font-family: "Soleil", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 21px;
}

.green {
  background-color: #00a82d;
}

.utility-nav {
  display: inline-block;
  margin-left: auto;
}

.global-header {
  display: flex;
  height: 130px;
  align-items: center;
}

.global-header a {
  color: #00a82d;
}

.global-header .button-outline {
  font-family: "Soleil",
    Helvetica,
    Arial,
    sans-serif;
  border-radius: 3px;
  border: 2px solid #00a82d;
  color: #00a82d;
  display: inline-block;
  font-size: 13px;
  height: 40px;
  line-height: 37px;
  min-width: 120px;
  padding: 0 10px;
  text-align: center;
  text-decoration: none;
  transition: .3s border ease-in-out,
    .3s color ease-in-out;
  -webkit-font-smoothing: antialiased;
}

.global-header li {
  font-family: "Soleil",
    Helvetica,
    Arial,
    sans-serif;
  font-size: 14px;
  display: inline-block;
  margin: 0 5px;
  position: relative;
  vertical-align: middle;
}

.global-logo {
  height: 70px;
}

.hero .content h1 {
  font-size: 56px;
  line-height: 72px;
  margin-bottom: 20px;
}