.nav-show-tag-list-wrapper {
  display: flex;
  height: 50px;
  border-top: 1px solid #ececec;
  align-items: center;
}

.note-show-tag {
  border-style: none;
  padding: 0 12px;
  max-width: none;
  height: 28px;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.67;
  margin-right: 5px;
  border-radius: 1em;
  color: #666;
  background: #f0f1f1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: nowrap;
  outline: none;
}

.nav-show-add-tag-button {
  flex-shrink: 0;
  margin: 0 10px 0 15px;
  fill: #c3c3c3;
  cursor: pointer;
}

.nav-show-add-tag-button:hover {
  fill: #B0BC96;
}

.tag-chevron-down {
  display: inline-block;
  padding: 2.5px;
  margin: 4px 0 3px 3px;
  cursor: pointer;
  font-size: 9px;
}

.note-show-add-tag-input {
  min-width: 100px;
  outline: 0;
  border: 0;
  box-sizing: content-box;
  width: 100%;
  font-size: 13px;
  color: rgb(119, 119, 119);
}