.window-wrapper {
  background: url("https://i.imgur.com/dY3qIWk.png");
  position: fixed;
  width: 100%;
  height: 100%;
  font-family: -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif,
    helvetica,
    arial,
    sans-serif;
}

.form-wrapper {
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 512px;
  margin: 0px auto 28px auto;
  padding: 62.12px 99px 48px;
  width: 314px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-align: left;
}

.heading {
  text-align: center;
  color: #aaaaaa;
}

.tagline {
  color: #333333;
  font-size: 16px;

  font-style: normal;
  font-weight: 400;
  margin-bottom: 44px;
  margin-top: 7px;
}

.text-input {
  border-radius: 7px;
  line-height: 1.1875;
  width: 314px;
  color: #333333;
  border: 1px solid #e6e6e6;
  padding: 12px 16px;
  box-sizing: border-box;
  font-size: 16px;
}

.text-input:focus {
  border-color: #dff2e6;
  outline: none;
  box-shadow: 0 0 0 1px #dff2e6;
}

.btn-session-submit {
  margin-top: 9px;
  margin-bottom: 11px;
  width: 100%;
  background-color: #00a82d;
  border-color: #00a82d;
  min-height: 44px;
  border-radius: 7px;
  font-style: normal;
  font-weight: 400;
  color: white;
  font-size: 16px;
  padding-left: 21.333px;
  padding-right: 21.333px;
}

.btn-session-submit:hover {
  background-color: #008f26;
  border-color: #008f26;
  cursor: pointer;
}

.terms-of-service {
  text-align: center;
  width: 280px;
  font-size: 12px;
  color: #a6a6a6;
  padding-left: 16px;
}

.ToS-link {
  color: rgb(0, 168, 45);
  cursor: pointer;
}

.session-errors {
  color: #cc4539;
  font-size: 12px;
  margin-bottom: 6px;
}

.switch-wrapper {
  font-size: 14px;
  text-align: center;
  margin-top: 34px;
  color: rgb(115, 115, 115);
}

.switch-button {
  display: block;
  border: none;
  margin: 0 auto;
  padding: 0;
  width: auto;
  background: transparent;
  outline: none;
  color: rgb(0, 168, 45);
  cursor: pointer;
  font-size: 16px;
  display: block;
  margin-top: 12px;
}

.switch-button:hover {
  color: #008f26;
}

.demo-sign-in-button {
  height: 40px;
  width: 100%;
  border-radius: 7px;
  border: solid 1px #d0d0d0;
  cursor: pointer;
  position: relative;
  z-index: 2;
  background-color: #ffffff;
  text-align: center;
  font-size: 15px;
  color: #6a6a6a;
  display: block;
}

.demo-sign-in-button:hover {
  background-color: #f8f8f8;
}

.horizontal-text:before,
.horizontal-text:after {
  width: 50%;
  top: 51%;
  overflow: hidden;
  height: 1px;
  background-color: #d0d0d0;
  content: "\a0";
  position: absolute;
}

.horizontal-text:before {
  margin-left: -52%;
  text-align: right;
}

.horizontal-text:after {
  margin-left: 2%;
}

.horizontal-text {
  width: 100%;
  text-align: center;
  background-color: #ffffff;
  position: relative;
  color: #ababab;
  font-size: 14px;
  z-index: 1;
  overflow: hidden;
  margin-top: 17px;
  margin-bottom: 18px;
  font-size: 14px;
}